/* Media query per larghezza container valida fino a width 768px */

@media screen and (max-width: 1160px) {
  .container {
    width: 100%;
  }    
}


/* Media query max-width 480px */

@media screen and (max-width: 480px) {  

  h1 {
    font-size: 3rem;
  }

  .row {
    flex-direction: column;
    gap: 5rem;
    padding: 2rem;
  }

  .container h2 {
    font-size: 2.4rem;
  }  
  
  .lessons .col, .steps .col, .why-us .col {
    width: 100%;
  }  

  p {
    font-size: 1.2rem;
  }


  /* Per cambiare colore all'ultima sezione */

  .steps {
    margin-bottom: 0;
  }

  .why-us {
    background-color: #222222;
    padding: 3rem 0;
    margin-bottom: 0; 
  }
}
